*.iml
gen/
bin/
build/
.gradle/
.idea/
user.gradle
local.properties
.directory

.settings
.classpath
.project

*.zip
*.so
b.sh
test*
magisk/system/bin/*
magisk/webroot/*
*.log
zygisk-rust
aidl/*.aidl*
